<style>
.jumbotron{
    background-color:#2E2D88;
    color:grey;
  	position: relative;
    padding:0 !important;
    margin-top:70px !important;
    background: #eee;
    margin-top: 23px;
    text-align:center;
    margin-bottom: 0 !important;
}
</style>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav nav-pills">
      <p class="navbar-text navbar-left">Max Paspa</p>
      <p class="navbar-text navbar-right"><a href="#" class="navbar-link navbar-right">Portfolio</a></p>
		</ul>
  </div>
</nav>

<div class="container">
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav nav-pills">
      <p class="navbar-text navbar-left">Max Paspa</p>
      <a href="#" class="navbar-link navbar-right">Portfolio</a>
      <a href="#" class="navbar-link navbar-right">About</a>
      <a href="#" class="navbar-link navbar-right">Contact</a>
		</ul>
  </div>
</nav>