<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav nav-pills">
      <p class="navbar-text navbar-left">Max Paspa</p>
      <a href="#" class="navbar-link navbar-right">Portfolio</a>
      <a href="#" class="navbar-link navbar-right">About</a>
      <a href="#" class="navbar-link navbar-right">Contact</a>
		</ul>
  </div>
</nav>
